.cardNfo {
  font-size: 11px;
}

.cardNfo i {
  margin-right: 5px;
}

.cardNfo .teamName {
  margin-right: 7px;
  background: #d1d1d1;
  color: #ffffff;
  padding: 2px 5px;
}

.cardNfo .date {
  color: #2196f3;
}
